$site-header-height-m: 60px;
$site-header-height-t: 60px;
$site-header-height-d: 130px;

$site-hero-height-m: 350px;
$site-hero-height-t: 350px;
$site-hero-height-d: 100vh;

$timelineHeight: 320px;
$timelineModal-width-s: 100vw;
$timelineModal-width-d: 480px;

$blueprintMaxWidth: 680px;

$transition: all .4s ease;
$text-shadow: 1px 1px 5px rgba($color-grey, 10%);

$box-shadow: 0 1px 10px rgba(0,0,0,0.4);