.c-slider {
    .home & {
        img {
            @include mq($from: s-tablet) {
                margin: 50px 0px;
                transition: $transition;
                opacity: .5;
            }
            &.slick-center {
                opacity: 1;
                transform: translateY(-50px);
            }
        }   
    }
}