#site-header {
    position: relative;
    z-index: 1;
    > .container {
        position: relative;
        height: $site-header-height-m;
        @include mq($from: desktop) {
            height: $site-header-height-d;
        }
    }
}


#site-header-cloned {
    position: fixed;
    top: -$site-header-height-m - 10px;
    width: 100%;
    transition: $transition;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,0.4);
    z-index: 1;
    @include mq($from: desktop){
        top: -$site-header-height-d - 10px;
    }
    &.sticky {
        top: 0;
    }
    > .container {
        position: relative;
        height: $site-header-height-m;
    }
}