#site-side-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-white;
    padding: 50px 20px;
    transition: $transition;
    z-index: 999;
    transform: translateX(-100%);
    font-family: $font-serif;
    @include inuit-font-size(14px, 18px);
    text-transform: uppercase;
    text-align: center;
    li {
        &.active a {
            text-decoration: underline;
            opacity: 1;
            @include font-weight('bold');
        }
        a {
            color: $color-grey;
            padding: 20px 0;
            border-top: 1px solid rgba($color-black, 0.1);
            display: block;
        }
        &:first-child {
            a {
                border-top: 0;
            }
        }
    }
    .side-nav-open & {
        transform: translateX(0);
    }
    @include mq($from: desktop) {
        display: none;
    }

    .side-nav-close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}