.c-timeline {
    height: $timelineHeight;
    .c-timeline-events {
        position: relative;
        height: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            height: 100%;
            position: relative;
            &:before {
                content: '';
                background: $color-grey;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
            }
        }

        li {
            height: 100%;
            display: flex;
            &.red,
            &:nth-child(even) {
                .event {
                    align-self: flex-end;
                    .date {
                        top: auto;
                        bottom: 17px;
                    }
                    &:after {
                        bottom: auto;
                        top: -5px;
                    }
                }
            }
            .event {
                width: 100%;
                height: 50%;
                position: relative;
                cursor: pointer;
                @include attention() {
                    &:hover {
                        &:before,
                        &:after {
                            background: $color-orange;
                        }
                    }
                }

                &.red {
                    &:before,
                    &:after {
                        background: $color-red;
                    }
                }

                &:before {
                    content: '';
                    background: $color-green;
                    width: 1px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:after {
                    content: '';
                    background: $color-green;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .date {
                    display: inline-block;
                    position: absolute;
                    top: 17px;
                    left: 50%;
                    transform: translateX(-80%) rotate(-90deg);
                    letter-spacing: 2px;
                    font-weight: 700;
                    font-size: 24px;
                    font-size: 1.5rem;
                    line-height: 1.25;
                }
            }
        }
    }

    .c-timeline-modals {
        .modal {
            height: 100vh;
            background: rgba($color-black, .85);
            color: $color-white;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1;
            @include mq($from: desktop) {
                width: 480px;                
            }
        
            .modal-close {
                position: absolute;
                top: 0;
                right: 0;
            }
            

            .modal-inner {
                padding: 80px 50px;
                display: flex;
                flex-direction: column;
                height: 100%;
                .modal-slider {
                    list-style: none;
                    margin: 0;
                    margin-bottom: 25px;
                    .slick-dots {
                        list-style: none;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        padding-top: 20px;
                        li {
                            margin: 0 0.25rem;
                            &.slick-active button {
                                background-color: $color-orange;
                            }
                        }
                        
                        button {
                            display: block;
                            width: 8px;
                            height: 8px;
                            padding: 0;
                            border: none;
                            border-radius: 100%;
                            background-color: $color-white;
                            text-indent: -9999px;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
                .title{
                    @include mq($from: desktop) {
                        @include inuit-font-size(45px, 27px);
                    }
                }
                .lead {
                    @include inuit-font-size(23px, 27px);
                    @include font-weight('bold');
                    text-transform: uppercase;
                }
                .text-wrapper {
                    font-family: $font-serif;
                    @include inuit-font-size(14px, 17px);
                    overflow-y: scroll;
                    > *:last-child {
                        margin-bottom: 0;
                    }
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100% );

                    }
                }
            }
        }
    }
}