#faqs {
    #site-footer & {
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            @include inuit-font-size(72px);
            text-transform: none;
        }
    }
    @include font-size(12px, 25px);
    .faqs-list {
        list-style: none;
        margin: 0;
        li {
            margin-bottom: 25px;
            display: none;
            &.active {
                display: block;
            }
        }
        p {
            margin-bottom: 0;
            &.question {
                @include font-weight('bold');
                cursor: pointer;
            }
        }
    }
}