.site-main-nav {
    display: none;
    @include mq($from: desktop) {
        display: block;
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
    }

    ul {
        display: flex;
        font-family: $font-serif;
        @include inuit-font-size(11px, 10px);
        text-transform: uppercase;
        text-shadow: $text-shadow;
        li {
            a {
                color: $color-white;
                padding: 5px 20px;
            }
        }
    }


    #site-header-cloned & {
        top: 50%;
        left: auto;
        right: 0;
        transform: translate(0, -50%);
        ul {
            text-shadow: none;
            li {
                a {
                    color: $color-grey;
                    padding: 5px 20px;
                }
                &.active a {
                    text-decoration: underline;
                    opacity: 1;
                    @include font-weight('bold');
                }
            }
        }
    }


}