#hero {
    position: relative;
    overflow: hidden;
    height: $site-hero-height-m;
    @include mq($from: desktop) {
        height: $site-hero-height-d;
    }

    ul {
        list-style: none;
        position: absolute;
        top: 120px;
        left: 50px;
        margin: 0;
        max-width: 60%;
        @include mq($from: desktop) {
            top: 50%;
            transform: translateY(-50%);
            max-width: 50%;
        }
        li {
            @extend %headings;
            color: $color-white;
            margin: 0;
            @include inuit-font-size(30px, 30px);

            @include mq($from: desktop) {
                @include inuit-font-size(70px, 68px);
            }
        }
    }

}

.hero-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $color-grey;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .8;
    }
}