.counter {
    .home & {
        @include inuit-font-size(12px, 18px);
        text-transform: uppercase;
        text-align: center;
        img {
            margin-bottom: 15px;
        }
        .numscroller {
            display: block;
            @include inuit-font-size(35px, 35px);
            @include font-weight(bold);
            color: $color-green;
        }
    }
}