.teaser {
    .home & {
        position: relative;
        background-color: $color-grey;
        margin-bottom: 25px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include attention() {
                img {
                    transform: scale(1.1);
                    opacity: .8;
                }
            }
        }

        img {
            opacity: .5;
            transition: $transition;
        }

        .text-details {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            text-shadow: $text-shadow;
            color: $color-white;
            text-transform: uppercase;
            h1 {
                @include inuit-font-size(21px, 25px);
                margin-bottom: 0;
            }
            .meta {
                margin-bottom: 0;
                font-style: italic;
            }
        }
    }
}