.site-logo {
    #site-header & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #site-footer & {
        @include mq($from: tablet) {
            float: right;
        }
    }
}