.list-images {
    margin-bottom: 25px;

    @include mq($from: tablet) {
        margin-bottom: 0;
        img {
            max-width: 80%;
        }
        li:nth-child(even) {
            text-align: right;
        }
    }

}