%headings {
    font-family: $font-sans;
    @include font-weight('bold');
    text-transform: uppercase;
    letter-spacing: -0.05em;
    span {
        position: relative;
        display: inline-block;
        z-index: 0;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 104%;
            height: 15px;
            transform: translate(-50%,-50%);
            z-index: -1;
        }
        &.orange:before { background-color: $color-orange; }
        &.green:before { background-color: $color-green; }
    }
}

@include headings() {
    @extend %headings;
}

strong, b {
    @include font-weight('bold');
}