a {
    $color: $color-grey;
	text-decoration: none;
    transition: $transition;
    opacity: .85;
	cursor: pointer;

	@include attention() {
        opacity: 1;
        text-decoration: underline;
	}
	
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}